.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-logo {
  position: relative;
  align-self: center;
  width: 150px;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  font-weight: bold;
  color: #43d982;
}

.text {
  overflow: hidden;
  word-break: break-all;
}

.margin-10 {
  margin-top: 10px;
}

h2,
h3,
h1 {
  margin: 10px 0;
}

.primary {
  color: #3aa7f9;
}

.version-tag {
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: bold;
  background: white;
  border-radius: 6px;
  color: #3aa7f9;
  padding: 0 6px;
}

.version {
  display: inline-block;
  margin-top: 50px;
  margin-right: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
